<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vicancy</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://dashboard-staging.hrofficelabs.com/api/client-library" ></script>
    <link rel="stylesheet" href="style.css">


    <script>
        function load() {
            vicancy.open({ clientId: localStorage.getItem("id"), clientName: localStorage.getItem("name"), clientEmail: localStorage.getItem("email"), clientLanguage: localStorage.getItem("language"), apiToken: localStorage.getItem("vToken") }); return true;
        }

        HROapi.$(function () {
            HROapi.loadComplete();
        });
    </script>
</head>

<body onload="load()">
    <script async src="//vicancy.herokuapp.com/assets/widget-api.js" type="text/javascript"></script>
</body>

</html>