<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vicancy</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function GetURLParameter(sParam) {

            var sPageURL = window.location.search.substring(1);

            var sURLVariables = sPageURL.split('&');

            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        var token = GetURLParameter('token');

        $.get("https://dashboard-staging.hrofficelabs.com/api/external/credentials?token=" + token, function (data, status) {
            var json = JSON.parse(data);

            alert("Data: " + json.userName + "\nStatus: " + status);
        });
    </script>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <img src="Appstore-banner.png">

</body>

</html>