<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vicancy</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="style.css">

</head>

<body>
    <a href='#' target='_blank' onclick='vicancy.open({clientId: "?unknown? bkkh", clientName: "24people_patrick", clientEmail: "", clientLanguage: "<%=language%>", apiToken:"<%= vToken %>"}); return false;'>
         <img src="Appstore-banner.png">
    </a>
    <script async src="//vicancy.herokuapp.com/assets/widget-api.js" type="text/javascript"></script>
</body>

</html>