<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vicancy</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async src="//vicancy.herokuapp.com/assets/widget-api.js" type="text/javascript"></script>
   
    <link rel="stylesheet" href="style.css">

</head>

<body>
    
    <a href='#' onclick='vicancy.open({ clientId: "<%= id %>", clientName: client_name, clientEmail: client_email, clientLanguage: "en", apiToken: "J13X-Q6JDSwg8-5_sJpS4Q" }); return false;'>
         <img src="Appstore-banner.png">
    </a>

</body>

</html>